/* RESET DEFAULT */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* PLAYER OF APP */
footer{
    height: 90px;
    width: 100%;
    background-color: #3d4343;
}

/* NAV AND PLAYLIST MENU' */
nav{
    width: 220px;
    height: calc(100vh - 90px);
    background-color: #000000;
}

/* CENTER MENU' */
main{
    width: 100%;
    height: calc(100vh - 90px);
    overflow-y: auto;
    background-color: #141922;
}

/* FLEX CONTAINER FOR UPPER MENU' */
#flex-container{
    /* flex */
    display: flex;
    justify-content: center;
}


/* UPGRADE MENU  */
#upgrade{
    background-color: #000000;
    opacity: 0.5;
    height: 80px;
    position: fixed;
    width: calc(100% - 90px);
    z-index: 1000;
}

#upgrade button{
    color: #fafafa;
    border: 2px solid #fafafa;
    position: absolute;
    border-radius: 25px;
    padding: 10px 25px;
    background-color: #141922;
    right: 100px;
    top: 20px;
}

section h2,h3{
    color: white;
}

/* ALBUM CONTAINER */
.album-container.long{
    min-width: calc(100% - 150px);
}

/* ALBUM SHORT */
.album-container.short{
    width: 90%;
}


/* MARGIN OF MAIN */
#margin-main{
    margin-left: 20px;
}

hr{
    margin-top: 10px;
}

.none-menu{
    display: none;
}

.true{
    display: inline-block;
}

.true-block{
    display: block;
}


/* MEDIA QUERY */
@media all and (max-width: 500px) {
    nav{
        width: 60px;
    }

    #account{
        display: none;
    }

    .none-menu{
        display: block; 
    }

    .true{
        display: none;
    }

    #logo div{
        width: 100%;
        margin-left: 10px;
    }

    /* LOGO FOR MOBILE */
    #logo div img{
        width: 50%;
    }

    /* UPGRADE BAR */
    #upgrade{
        width: calc(100% - 50px);
    }
}

@media all and (min-width:500px) {

    /* MIN WIDTH FOR LOGO DESKTOP */
    #logo div img{
        width: 15%;
    }

    /* MARGIN FOR LOGO DESKTOP */
    #icon{
        width: 75%;
        margin-top: 10px;
        margin-left: 25px;
    }

    #logo div{
        height: 15px;
        width: 100%;
        margin-left: 25px;
        margin-top: 1px;
    }

   
}


/* RESPONSIVE ALBUM */
@media all and (max-width:768px) {
    .album-container.long div{
        width: 150px;
    }
}

@media all and (min-width:769px) {
     /* dimension of album */
     .album-container>div{
        width: calc((100% / 6) - 20px);
        text-align: center;
    }

    /* Album container short */
    .album-container.short{
        width: 35%;
    }
}