/* FLEX PLAYER STYLES */
#flex-player{
    width: 100%;
    height: 100%;
    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Song Titol */
#flex-player > :first-child{
    /* flex */
    display: flex;
    align-items: center;
    /* DEBUG */
    width: 20%;
    height: 60%;
}

/* Song Titol Immage */
#flex-player img{
   width: 50px;
   margin-right: 10px;
   margin-left: 10px;
}

/* Song Titol > Description */
#flex-player h5{
    color: #fff;
    margin-bottom: 5px;
}

#flex-player h6{
    color: #6e6e6e;
}






/* Timeline Player */
#flex-player > :nth-child(2){
    /* DEBUG */
    width: 40%;
    height: 70%;
}

/* Playbuttons Bar */
#player{
    text-align: center;
}

#player i{
    padding: 5px;
    color: #fff;
}

/* Big Play */
#player :nth-child(3){
    font-size: 25px;
}

/* Progressive bar, number and timeline */
.progress-bar{
    color: #fff;
    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bar settings */
.progress{
    height: 3px;
    width: 65%;
    background-color: #6e6e6e;
}

.progress div{
    height: 100%;
    width: 30%;
    background-color: #fff;
}








/* Audio Manager */
#flex-player > :nth-child(3){
    /* DEBUG */
    width: 20%;
    height: 60%;
}

#audio-mix{
    color: #fff;
    margin-right: 10px;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

/* ////---/////----///// */

/* LEFT NAV BAR */

/* Logo settings */
#logo{
    margin-top: 20px;
}


#logo div{
    color: #fff;
    height: 35px;
}



/* Playlist settings */

/* PLAYLIST */
#flex-container section li,h2{
    color: gray;
}

/* MENU VOICE STYLE */
#voice{
    color: #606368;
    
}

#voice ul{
    list-style: none;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 60%;
    /* flex */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

#voice ul > :first-child{
    border-bottom: 2px solid green;
}

#voice ul li{
    color: gray;
    font-size: 12px;
}

/* ALBUM SETTINGS */
.album-container{
    width: 100%;
    /* flex */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.album-comntainer.short{
    margin-left: 10px;
}

.album{
    width: 100%;
}

.album img{
    width: 100%;
}

span{
    color: gray;
}



.album-container.short>div{
    width: calc((100% / 2) - 20px);
}

/* ALBUM CONTAINER round */
.round img{
    border-radius: 100%;
}

/* PLAYLIST SET */

/* Ul li settings */
#playlist ul li{
    list-style: none;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 14px;
}

/* Titol */
#playlist h4{
    color: #fff;
    margin-left: 25px;
    margin-top: 25px;
}

#account{
    width: 150px;
    height: 60px;
    bottom: 120px;
    margin-left: 15px;
    color: #fff;
    position: absolute;
}

/* span account */
#account div{
    height: 25px;
}

#account div img{
    height: 100%;
}
